/* styles for less-canvas debug window */


[id$="-debugcontainer"] {
    font-family: sans-serif;

    background-color: rgba(255, 255, 255, 0.9);
    color: #3c3c3c;

    margin: 0;
    padding: .5em;
    box-sizing: border-box;

    overflow-y: auto;
    overflow-x: hidden;
    text-align: left;

    scroll-snap-type: y mandatory;
}

[id$="-debugcontainer"]:empty {
    display: none;
}

[id$="-debugcontainer"] > p {
    padding-bottom: .5em;
}

[id$="-debugcontainer"] > p > code {
    background-color: rgba(226, 226, 226, 0.9);
    color: black;
}

[id$="-debugcontainer"], [id$="-debugcontainer"] section {
    border: 2px solid #3c3c3c;
    border-radius: 4px;
}

[id$="-debugcontainer"] section {
    display: flex;
    flex-flow: column;
    overflow-y: auto;
    background-color: rgba(226, 226, 226, 0.9);
    margin: 0 1em .5em;
    padding: .5em;
    text-align: left;
}


[id$="-debugcontainer"] section table {
    text-align: initial;
}

[id$="-debugcontainer"] section h2 {
    position: sticky;
    top: 0;
    left: 0;

    margin: 0 0 .5em;
    padding: .2em;

    border: 2px solid #3c3c3c;
    background-color: white;
    border-radius: 4px;

    text-align: left;
    z-index: 2;
}

[id$="-debugcontainer"] td:nth-child(3) {
    width: 20em;
}


[id$="-debugcontainer"] .debug-size-section td:nth-child(3) {
    background-color: white;
    position: relative;
    z-index: 0;
}

[id$="-debugcontainer"] .debug-size-section td:nth-child(3) div {
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: #6363dd;
    height: 100%
}


[id$="-debugcontainer"] .debug-log-section pre {
    margin: 0;
    padding: 0;
    position: relative
}

[id$="-debugcontainer"] .debug-log-section pre.error-log {
    color: red;
}

[id$="-debugcontainer"] .debug-log-section pre.debug-log {
    color: black;
}

[id$="-debugcontainer"] .debug-log-section a {
    padding-right: 1em;
    color: blue;
    text-decoration: underline;
}

[id$="-debugcontainer"] .debug-log-section a:hover::after {
    content: attr(data-logged);
    position: absolute;
    top: 0;
    left: 2em;
    right: 1em;
    height: 10em;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: white;
    border: 2px solid black;
    border-radius: 4px;
    color: black;
    z-index: 3;
    pointer-events: auto;
    padding: .5em;
}

