/* styles for less-canvas debug window */


[id^="LessCanvas-debugwindow-"] {
    font-family: sans-serif;

    background-color: rgba(255, 255, 255, 0.9);
    color: #3c3c3c;

    margin: 0;
    padding: 0 .5em .5em;
    box-sizing: border-box;

    overflow-y: auto;
    overflow-x: hidden;
    text-align: left;

    scroll-snap-type: y mandatory;
}

[id^="LessCanvas-debugwindow-"]:empty {
    display: none;
}

[id^="LessCanvas-debugwindow-"] h1 {
    margin: .8em .4em .5em;
}


[id^="LessCanvas-debugwindow-"], [id^="LessCanvas-debugwindow-"] section {
    border: 2px solid #3c3c3c;
    border-radius: 4px;
}

[id^="LessCanvas-debugwindow-"] section {
    display: flex;
    flex-flow: column;
    overflow-y: auto;
    background-color: rgba(226, 226, 226, 0.9);
    margin: 0 1em .5em;
    padding: .5em;
    flex: 0;
    text-align: left;
}

[id^="LessCanvas-debugwindow-"] section table {
    text-align: initial;
}

[id^="LessCanvas-debugwindow-"] section h2 {
    position: sticky;
    top: 0;
    left: 0;

    margin: 0 0 .5em;
    padding: .2em;

    border: 2px solid #3c3c3c;
    background-color: white;
    border-radius: 4px;

    text-align: left;
    z-index: 2;
}

[id^="LessCanvas-debugwindow-"] td:nth-child(3) {
    width: 20em;
}


[id^="LessCanvas-debugwindow-"] .debug-size-section td:nth-child(3) {
    background-color: white;
    position: relative;
    z-index: 0;
}

[id^="LessCanvas-debugwindow-"] .debug-size-section td:nth-child(3) div {
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: #6363dd;
    height: 100%
}
